* {
	box-sizing: border-box;
	border-radius: 0 !important;
}

img {
	border: 0;
	outline: 0;
}

html, body, p, form, ul, li, h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

html {
	font: normal 1rem 'Segoe UI';
	font-family: 'Segoe UI', 'Open Sans', 'Roboto', Arial, sans-serif;
	color: #333;

	body {
		background: #fafafa;
		padding-top: 60px;

		h1, h2 {
			font-weight: 300;
			font-family: 'Open Sans', Arial, sans-serif;
			margin: 0.25em 0 0.4em 0;
		}

		> .header {
			position: fixed;
			left: 0;
			top: 0;
			right: 0;
			height: 60px;
			//background: #eeeeea;
			//background: #f5f5f8;
			background: #ecedf0;
			line-height: 60px;
			padding-left: 1rem;
			border-bottom: 1px solid #ddd;
			font-weight: 300;
			z-index: 10;

			img.jumbo-icon {
				width: auto;
				height: 30px;
			}
		}

		> .sub-header {
			width: 100%;
			padding-top: 0.5em;
			overflow: hidden;

			padding-bottom: 0.5em;
			background-color: #f4f4f4;
			border-bottom: 1px solid #eaeaea;

			ul {
				list-style-type: none;

				li {
					float: left;
					padding: 0 1em;
					text-transform: uppercase;
				}
			}
		}

		a {
			color: #333;

			&:hover {
				color: #278060;
				text-decoration: none;
			}
		}
	}
}

main {
	padding: 1rem;
	//padding: 4rem 25% 20px 25%;

	> h1 {
		font-size: 2.5rem;
	}

	> hr {
		margin-right: 15px;
	}

	form {
		.col {
			> label {
				display: block;
				width: 100%;
			}

			> input, > textarea, > select {
				display: block;
				width: 100%;
			}
		}

		input, select, textarea {
			background-color: #fcfcfc;
			border: 1px solid #c0c0c0;
			padding: 0.5em;
			font-size: 0.8rem;
		}

		input, select {
			height: 2rem;
			line-height: 2rem;
		}

		textarea {
			min-height: 4em;
		}

		.btn {
			border-radius: 0;
			background: #419778;
			color: #fff;
			padding: 0;
		}
	}

	.row {
		margin-top: 10px;
	}

	ul.actions {
		list-style-type: none;
		overflow: hidden;
		margin-top: -2.5rem;
		padding-right: 15px;

		li {
			margin-left: 10px;
			display: inline-block;
			float: right;
		}
	}

	.grid {
		width: 100%;
	}
}

.dataTables_filter, .dataTables_paginate {
	padding-right: 15px;
}

.j-fade-out {
	opacity: 0;
}

.j-fade-in {
	transition: 300ms;
	opacity: 1;
}